body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
    text-align: center;
}
h1{
    color: red;
    font-weight: bolder;
    font-size: 40px;
}
p{
    font-weight: bolder;
    font-size: 20px;
}
button{
    padding: 8px 40px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
}